/*
COLORS:
    #203163 AZUL ESCURO
    #1C5B9E AZUL MARINHO
    #C2DFFF AZUL CLARO
    #CE2E00 LARANJA
    #08452B VERDE
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body{
    background-color:#1C5B9E;
}
.container{
    width: 60%;
    height: 75vh;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 2% ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.container h2{
    padding: 13px;
    font-weight: bold;
    text-align: center;
}
.container .cadastro div{
    width: 50%;
    background-color: #99a0b041;
    margin: 15px;
    padding: 15px;
    border-radius: 3%;
    
}
.container .cadastro input,label{
    display: block;
    margin: 13px;
    line-height: 15px;
    font-size: 1em;
    width: 90%;
}
.container .cadastro button{
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    background-color:#203163;
    border: 1px solid #203163;
    border-radius: 5%;
}

#voltar{
    text-align: center;
    margin-top: 35px;
  }


#icon{
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
